@import url('colors.css');

* {
  color: var(--text);

  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font", monospace;
  transition: 200ms;
}

/* Avoid 'annoying' background */
.blank-window {
  background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background-color: rgba(46, 52, 64, 0.55); /* rgba for alpha(@background, .55) */
  border-radius: 24px;
  border: 1px solid var(--selected);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  margin: 18px;
  padding: 12px;
}

/* Notifications */

.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: var(--background-alt);
  border-radius: 16px;
  margin: 4px 0;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: var(--urgent);
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background-color: rgba(136, 192, 208, 0.6); /* rgba for alpha(@selected, .6) */
  color: var(--text);
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: var(--selected);
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: var(--selected);
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: var(--text);
  margin: 0;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: var(--selected);
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: var(--selected);
}

/* Progress bars */

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px;
}

.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--text);
  letter-spacing: 2px;
}

.notification-group-icon {
  color: var(--text);
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: var(--text);
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background-color: var(--hover);
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background-color: var(--background-alt);
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: var(--hover);
}

.widget-title button:active {
  background-color: var(--selected);
}

/* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background-color: var(--background-alt);
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background-color: var(--hover);
}

.widget-dnd > switch:checked {
  background-color: var(--selected);
}

.widget-dnd > switch:checked:hover {
  background-color: var(--hover);
}

.widget-dnd > switch slider {
  background-color: var(--text);
  border-radius: 6px;
}

/* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background-color: var(--background-alt);
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background-color: var(--hover);
}

/* Music player */
.widget-mpris {
  background-color: var(--background-alt);
  border-radius: 16px;
  color: var(--text);
  margin: 20px 6px;
}

/* NOTE: Background needs opacity 1 or album art blur */
.widget-mpris-player {
  background-color: var(--background-sec);
  border-radius: 22px;
  padding: 6px 14px;
  margin: 6px;
}

.widget-mpris > box > button {
  color: var(--text);
  border-radius: 20px;
}

.widget-mpris button {
  color: rgba(236, 239, 244, 0.6); /* alpha(@text, .6) */
}

.widget-mpris button:hover {
  color: var(--text);
}

.widget-mpris-album-art {
  border-radius: 16px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
}

/* Volume */
.widget-volume {
  background-color: var(--background-sec);
  color: var(--background);
  padding: 4px;
  margin: 6px;
  border-radius: 6px;
}
